<!DOCTYPE html>
<html>
  <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
    .myLink {display: none}
    </style>
  </head>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
    <a href="index.html" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i class="fa fa-map-marker w3-margin-right"></i>F1 Predictor</b></a>
    <a href="f1information.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>F1 Nedir</b></a>
    <a href="photos.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item w3-margin-left"></i>Fotoğraf Galerisi</b></a>
    <a href="f1Datas.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>F1 Verileri</b></a>
    <a href="circuits.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>Pistler</b></a>
    <a href="drivers.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>Pilotlar</b></a> 
    <a href="constructors.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>Markalar</b></a> 
  </div>

<div class="w3-main" style="margin-right:10px; margin-left: 10px;">

<!-- Second Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/images/Bahreyn-Gp-750x422.jpeg" alt="Bahreyn" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Bahreyn Grand Prix</b></p>
        <p>Bahreyn Grand Prix, 4 Eylül 2004 tarihinden beri Sakhir'de düzenlenen bir Formula 1 yarışıdır. Bahreyn Grand Prix, Ortadoğu'da düzenlenen ilk Formula 1 yarışıdır ve sponsoru da Gulf Air isimli havacılık şirketidir.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/images/suuudi.png" alt="Suudi Arabia" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Suudi Arabistan Grand Prix</b></p>
        <p>Suudi Arabistan Grand Prix 2021 Formula 1 sezonundan itibaren Formula 1 takviminde yer alan yarışlardan biridir. İlk yarış 5 Aralık 2021 tarihinde Cidde Cadde Pisti'nde gece yarışı olarak yapılmıştır.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/Users/umutakpolat/Desktop/f1/images/australianGP.png" alt="Australian" style="width: 100% ;" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Avustralya Grand Prix</b></p>
        <p>Avustralya Grand Prix Avustralya'nın Melbourne kentinde düzenlenen Formula 1 yarışıdır. 1985 yılında takvime dahil edilen yarış o tarihten bu yana kadar kesintisiz olarak düzenlenmiştir.</p>
      </div>
    </div>
  </div>

  <!-- Third Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/images/emiliaItaly.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Italya Emilia Romagna Grand Prix</b></p>
        <p>Emilia Romagna Grand Prix, Autodromo Internazionale Enzo e Dino Ferrari pistinde düzenlenen Formula 1 yarışı. Daha önce İtalya Grand Prix ve San Marino Grand Prix'i adlarıylada düzenlenmişt</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/images/miami.png" alt="Norway" style="width: 100%;" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Miami Grand Prix</b></p>
        <p>Miami Grand Prix, Hard Rock Stadyumu Pisti'nde on yıllık bir sözleşme ile gerçekleşecek olan etkinlik, 2022 Formula 1 Dünya Şampiyonası'nın bir parçasını oluşturması planlanan bir Formula 1 Grand Prix'sidir.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/Users/umutakpolat/Desktop/f1/images/ispanyaGp.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>İspanya Grand Prix</b></p>
        <p>Circuit de Barcelona-Catalunya ya da eski adıyla Circuit de Catalunya, İspanya'nın Katalonya özerk bölgesinin Montmeló kentinde yer alan bir motor sporları pistidir. Uzun düzlükleri ve çeşitli virajlarlarıyla Circuit de Barcelona-Catalunya, çok yönlü bir pist olarak görülmektedir.</p>
      </div>
    </div>
  </div>

  <!-- Fourth Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/images/monaco.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Monaco Grand Prix</b></p>
        <p>Monako Grand Prix, her sene Monako ülkesinde düzenlenen ve Monako sokaklarının piste dönüştürülmesiyle oluşturulan Circuit de Monaco pistinde yapılan Formula 1 organizasyonudur.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/images/azeri.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Azerbaycan Grand Prix</b></p>
        <p>Azerbaycan Grand Prix, 2017 yılında ilk kez düzenlenen bir Formula 1 yarışıdır. Yarışlar Azerbaycan'ın başkenti Bakü'de, sokakta kurulu Bakü Şehir Pisti'nde gerçekleşir. </p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/Users/umutakpolat/Desktop/f1/images/Canada_Circuit.png" alt="Norway" style="width:100%" class="w3-hover-black">
      <div class="w3-container w3-white">
        <p><b>Kanada Grand Prix</b></p>
        <p>Kanada Grand Prix, 30 Eylül 1961 tarihinden beri düzenlenen bir Formula Bir yarışı</p>
      </div>
    </div>
  </div>

  <!-- Fifth Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/images/britishGp.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Britanya Grand Prix</b></p>
        <p>Britanya Grand Prix, FIA'nın yarış takviminde bulunan bir Formula 1 müsabakasıdır. Silverstone Pisti'nde organize edilmektedir. İtalya Grand Prix ile birlikte en eski yarıştır. Yarışı tarihte en çok kazananlar ilk üç pilotu; yedi kez ile Lewis Hamilton, sonrasında beşer defa ile Jim Clark ve Alain Prost'tur.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/images/austrian.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Avusturya Grand Prix/b></p>
        <p>Avusturya Grand Prix Uluslararası Otomobil Federasyonu'nun düzenlemiş olduğu Formula Bir yarış etaplarından biridir. İlk olarak 1 Eylül 1963'te düzenlenmiştir.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/Users/umutakpolat/Desktop/f1/images/France_Circuit.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>France Grand Prix</b></p>
        <p>Fransa Grand Prix Uluslararası Otomobil Federasyonu'nun düzenlemiş olduğu Formula Bir yarışlarının etaplarından biridir. İlk olarak 26 Haziran 1906'da yarışılmıştır.</p>
      </div>
    </div>
  </div>

  <!-- Sixth Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/images/Hungary_Circuit.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Macaristan Grand Prix</b></p>
        <p>acaristan Grand Prix FIA'nın yarış takviminde bulunan bir Formula 1 müsabakasıdır. Hungaroring'nda organize edilmektedir.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/images/belgium.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Belgium Gran Prix</b></p>
        <p>Belçika Grand Prix, Formula 1 Dünya Şampiyonası'nın ayaklarından biri olarak düzenlenen otomobil yarışıdır. İlk Belçika Grand Prix'i 28 Haziran 1925'te Spa-Francorchamps pistinde düzenlendi ve bu yarışı İtalyan markası Alfa pilotu Antonio Ascari kazanmıştır.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/Users/umutakpolat/Desktop/f1/images/Netherlands_Circuit.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Hollanda Grand Prix</b></p>
        <p>Hollanda Grand Prix, Circuit Park Zandvoort'ta düzenlenen bir Formula 1 yarışıdır. 1952 ile 1985 yılları arasında çeşitli aralıklarla toplamda 30 kez düzenlenen grand prix 2020 yılında tekrar takvime girmiş ancak COVID-19 pandemisi nedeniyle ertelenmiştir.</p>
      </div>
    </div>
  </div>
  <!-- First Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/images/italiangppp.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>İtalya Grand Prix</b></p>
        <p>İtalya Grand Prix'i Formula 1 tarihinde koşulan en uzun pistlerden biridir. İlk İtalya Grand Prix'i 4 Eylül 1921'de Brescia'da koşuldu. </p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/images/Singapore_Circuit.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Singapur Grand Prix</b></p>
        <p>Singapur Grand Prix Uluslararası Otomobil Federasyonu'nun düzenlemiş olduğu Formula Bir yarış etaplarından biridir. İlk olarak 11 Nisan 1966'da düzenlenmiştir. Formula Bir tarihinde düzenlenen ilk akşam yarışıdır.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/Users/umutakpolat/Desktop/f1/images/Japan_Circuit.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Japonya Grand Prix</b></p>
        <p>2019 Japon Grand Prix'si, 13 Ekim 2019'da Japonya'nın Mie Eyaleti, Suzuka'daki Suzuka Uluslararası Yarış Parkurunda düzenlenen Formula 1 yarış etkinliğidir</p>
      </div>
    </div>
  </div>
  <!-- First Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/images/usaGP.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Amerika Birleşik Devletleri Grand Prix</b></p>
        <p>Birleşik Devletler Grand Prix Amerika Birleşik Devletleri'nin Austin kentinde düzenlenen Formula 1 yarışıdır. İlk olarak 1903 yılında takvime dahil edilmiştir.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/images/mexio.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Meksika Grand Prix</b></p>
        <p>Meksika Grand Prix Uluslararası Otomobil Federasyonu'nun düzenlemiş olduğu Formula Bir yarış etaplarından biridir. İlk olarak 4 Kasım 1962'de düzenlenmiştir.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/Users/umutakpolat/Desktop/f1/images/Brazil_Circuit.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Brezilya Grand Prix</b></p>
        <p>Brezilya Grand Prix, Brezilya'nın São Paulo kentinde düzenlenen Formula 1 yarışıdır. 1972 yılında takvime dahil edilen yarış o tarihten bu yana kadar kesintisiz olarak düzenlenmiştir.</p>
      </div>
    </div>
  </div>
  <!-- First Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/images/abu.jpeg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Abu Dabi Grand Prix</b></p>
        <p>Abu Dabi Grand Prix FIA'nın düzenlemiş olduğu Formula 1 yarış etaplarından biridir. İlk olarak 1 Kasım 2009'de düzenlenmiştir.</p>
      </div>
    </div>
    
  </div>

  
