<!DOCTYPE html>
<html>
  <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
    .myLink {display: none}
    </style>
  </head>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
    <a href="index.html" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i class="fa fa-map-marker w3-margin-right"></i>F1 Predictor</b></a>
    <a href="f1information.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>F1 Nedir</b></a>
    <a href="photos.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item w3-margin-left"></i>Fotoğraf Galerisi</b></a>
    <a href="f1Datas.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>F1 Verileri</b></a>
    <a href="circuits.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>Pistler</b></a>
    <a href="drivers.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>Pilotlar</b></a> 
    <a href="constructors.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>Markalar</b></a> 
  </div>

<div class="w3-main" style="margin-right:10px; margin-left: 10px;">

<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/constructorimage/mercedes.jpeg" alt="Mercedes-AMG" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Mercedes Petronas</b></h4>
        <p><b>Merkez: Brackley,Birleşik Krallık</b> </p>
        <p><b>Takım Patronu:Toto Wolff</b></p>
        <p><b>Araba İsmi:W13</b> </p>
        <p><b>Motor:Mercedes</b></p>
        <p><b>Yarışlara İlk Katılım: 1970 </b></p>
        <p><b>Dünya Şampiyonluğu:8</b> </p>
        
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/constructorimage/ferrari.jpeg" alt="Ferrari" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Scuderia Ferrari</b></h4>
        <p><b>Merkez: Maranello, Italya</b> </p>
        <p><b>Takım Patronu:Mattia Binotto</b></p>
        <p><b>Araba İsmi:F1-75</b> </p>
        <p><b>Motor:Ferrari</b></p>
        <p><b>Yarışlara İlk Katılım: 1950 </b></p>
        <p><b>Dünya Şampiyonluğu: 16</b> </p>
    </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/Users/umutakpolat/Desktop/f1/constructorimage/redbull.jpeg" alt="Redbull" style="width: 100% ;" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Oracle Red Bull Racing</b></h4>
        <p><b>Merkez: Milton Keynes,Birleşik Krallık</b> </p>
        <p><b>Takım Patronu:Christian Horner</b></p>
        <p><b>Araba İsmi:RB18</b> </p>
        <p><b>Motor:Red Bull Powertrains</b></p>
        <p><b>Yarışlara İlk Katılım: 1997 </b></p>
        <p><b>Dünya Şampiyonluğu: 5</b> </p>
    </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/constructorimage/mclaren.jpeg" alt="Mclaren" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Mclaren F1 Team</b></h4>
        <p><b>Merkez:Woking,Birleşik Krallık</b> </p>
        <p><b>Takım Patronu:Andreas Seidl</b></p>
        <p><b>Araba İsmi:MCL36</b> </p>
        <p><b>Motor:Mercedes</b></p>
        <p><b>Yarışlara İlk Katılım: 1966 </b></p>
        <p><b>Dünya Şampiyonluğu:8</b> </p>
        
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/constructorimage/alfaromeo.png" alt="Alfa Romeo" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Alfa Romeo F1 Team ORLEN</b></h4>
        <p><b>Merkez:Hinwil, Switzerland</b> </p>
        <p><b>Takım Patronu:Frédéric Vasseur</b></p>
        <p><b>Araba İsmi:C42</b> </p>
        <p><b>Motor:Ferrari</b></p>
        <p><b>Yarışlara İlk Katılım: 1993 </b></p>
        <p><b>Dünya Şampiyonluğu: 0</b> </p>
    </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/Users/umutakpolat/Desktop/f1/constructorimage/astonmartin.jpeg" alt="AstonMartin" style="width: 100% ;" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Aston Martin Aramco Cognizant F1 Team</b></h4>
        <p><b>Merkez: Silverstone,Birleşik Krallık</b> </p>
        <p><b>Takım Patronu:Mike Krack</b></p>
        <p><b>Araba İsmi:AMR22</b> </p>
        <p><b>Motor:Mercedes</b></p>
        <p><b>Yarışlara İlk Katılım: 2018 </b></p>
        <p><b>Dünya Şampiyonluğu:0</b> </p>
    </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/constructorimage/williams.jpeg" alt="Williams" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Williams Racing</b></h4>
        <p><b>Merkez:Grove,Birleşik Krallık</b> </p>
        <p><b>Takım Patronu:Jost Capito</b></p>
        <p><b>Araba İsmi:FW44</b> </p>
        <p><b>Motor:Mercedes</b></p>
        <p><b>Yarışlara İlk Katılım: 1978 </b></p>
        <p><b>Dünya Şampiyonluğu:9</b> </p>
        
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/constructorimage/alphatauri.jpeg" alt=" Alpha Tauri" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Scuderia AlphaTauri</b></h4>
        <p><b>Merkez:Faenza, Italya</b> </p>
        <p><b>Takım Patronu:Franz Tost</b></p>
        <p><b>Araba İsmi:AT03</b> </p>
        <p><b>Motor:Red Bull Powertrains</b></p>
        <p><b>Yarışlara İlk Katılım: 1985 </b></p>
        <p><b>Dünya Şampiyonluğu: 0</b> </p>
    </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
        <img src="/Users/umutakpolat/Desktop/f1/constructorimage/haas.jpeg" alt="Haas" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <h4><b>Haas F1 Team</b></h4>
          <p><b>Merkez:Kannapolis, ABD</b> </p>
          <p><b>Takım Patronu:Guenther Steiner</b></p>
          <p><b>Araba İsmi:VF-22</b> </p>
          <p><b>Motor:Ferrari</b></p>
          <p><b>Yarışlara İlk Katılım: 2016 </b></p>
          <p><b>Dünya Şampiyonluğu: 0</b> </p>
      </div>
      </div>
  </div>


  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/constructorimage/alpine.jpeg" alt="Alpine" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>BWT Alpine F1 Team</b></h4>
        <p><b>Merkez:Enstone, United Kingdom</b> </p>
        <p><b>Takım Patronu:Otmar Szafnauer</b></p>
        <p><b>Araba İsmi:A522</b> </p>
        <p><b>Motor:Renault</b></p>
        <p><b>Yarışlara İlk Katılım: 1986 </b></p>
        <p><b>Dünya Şampiyonluğu:2</b> </p>
        
      </div>
    </div>
  </div>



