<!DOCTYPE html>
<html>
  <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
    .myLink {display: none}
    </style>
  </head>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
    <a href="index.html" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i class="fa fa-map-marker w3-margin-right"></i>F1 Predictor</b></a>
    <a href="f1information.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>F1 Nedir</b></a>
    <a href="photos.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item w3-margin-left"></i>Fotoğraf Galerisi</b></a>
    <a href="f1Datas.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>F1 Verileri</b></a>
    <a href="circuits.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>Pistler</b></a>
    <a href="drivers.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>Pilotlar</b></a> 
    <a href="constructors.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>Markalar</b></a> 
  </div>

<div class="w3-main" style="margin-right:10px; margin-left: 10px;">

<!-- Second Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/sirHamilton.png" alt="Hamilton" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Sir Lewis Hamilton 44</b></h4>
        <p><b>Takım: Mercedes</b> </p>
        <p><b>Doğum Tarihi: 07/01/1985 </b></p>
        <p><b>Ülke: Birleşik Krallık</b> </p>
        <p><b>Podyum Sayısı: 183 </b></p>
        <p><b>Yarış Katılımı: 294 </b></p>
        <p><b>Dünya Şampiyonluğu: 7</b> </p>
        
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/russel.png" alt="Russel" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>George Russel 63</b></h4>
        <p><b>Takım: Mercedes</b> </p>
        <p><b>Doğum Tarihi: 15/02/1998 </b></p>
        <p><b>Ülke: Birleşik Krallık</b> </p>
        <p><b>Podyum Sayısı: 3 </b></p>
        <p><b>Yarış Katılımı: 66 </b></p>
        <p><b>Dünya Şampiyonluğu: 0</b> </p></div>
    </div>
    <div class="w3-third w3-container">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/versto.png" alt="Verstappen" style="width: 100% ;" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Max Verstappen 1</b></h4>
        <p><b>Takım: Red Bull Racing</b> </p>
        <p><b>Doğum Tarihi: 10/09/1997 </b></p>
        <p><b>Ülke: Hollanda</b> </p>
        <p><b>Podyum Sayısı: 64 </b></p>
        <p><b>Yarış Katılımı: 147 </b></p>
        <p><b>Dünya Şampiyonluğu: 1 Ama şaibeli</b> </p></div>
    </div>
  </div>

  <!-- Third Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/perez.png" alt="Perez" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Sergio Perez 11 </b></h4>
        <p><b>Takım: Red Bull Racing</b> </p>
        <p><b>Doğum Tarihi: 26/01/1990 </b></p>
        <p><b>Ülke: Birleşik Krallık</b> </p>
        <p><b>Podyum Sayısı: 18 </b></p>
        <p><b>Yarış Katılımı: 981 </b></p>
        <p><b>Dünya Şampiyonluğu: 0</b> </p></div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/leclec.png" alt="Leclerc" style="width: 100%;" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Charles Leclerc 16</b></h4>
        <p><b>Takım: Ferrari</b> </p>
        <p><b>Doğum Tarihi: 16/10/1997 </b></p>
        <p><b>Ülke: Monaco</b> </p>
        <p><b>Podyum Sayısı: 17 </b></p>
        <p><b>Yarış Katılımı: 87 </b></p>
        <p><b>Dünya Şampiyonluğu: 0</b> </p>  </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/sainz.png" alt="Sainz" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Carlos Sainz 55 </b></h4>
        <p><b>Takım: Ferrari</b> </p>
        <p><b>Doğum Tarihi: 01/09/1994 </b></p>
        <p><b>Ülke: İspanya</b> </p>
        <p><b>Podyum Sayısı: 9 </b></p>
        <p><b>Yarış Katılımı: 147 </b></p>
        <p><b>Dünya Şampiyonluğu: 0</b> </p></div>
    </div>
  </div>

  <!-- Fourth Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/lando.png" alt="Norris" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Lando Norris 4</b></h4>
        <p><b>Takım: Mclaren</b> </p>
        <p><b>Doğum Tarihi: 13/11/1999 </b></p>
        <p><b>Ülke: Birleşik Krallık</b> </p>
        <p><b>Podyum Sayısı: 6 </b></p>
        <p><b>Yarış Katılımı: 66 </b></p>
        <p><b>Dünya Şampiyonluğu: 0</b> </p>
    </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/ricci.png" alt="Ricciardo" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Daniel Ricciardo 3</b></h4>
        <p><b>Takım: Mclaren</b> </p>
        <p><b>Doğum Tarihi: 01/07/1989 </b></p>
        <p><b>Ülke: Avustralya</b> </p>
        <p><b>Podyum Sayısı: 32 </b></p>
        <p><b>Yarış Katılımı: 216 </b></p>
        <p><b>Dünya Şampiyonluğu: 0</b> </p> </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/bottas.png" alt="Bottas" style="width:100%" class="w3-hover-black">
      <div class="w3-container w3-white">
        <h4><b>Valtteri ''Memur'' Bottas 77</b></h4>
        <p><b>Takım: Alfa Romeo</b> </p>
        <p><b>Doğum Tarihi: 28/08/1989 </b></p>
        <p><b>Ülke: Finlandiya</b> </p>
        <p><b>Podyum Sayısı: 67 </b></p>
        <p><b>Yarış Katılımı: 184 </b></p>
        <p><b>Dünya Şampiyonluğu: 0</b> </p></div>
    </div>
  </div>

  <!-- Fifth Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/zhou.png" alt="Zhou" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Zhou Guanyu 24</b></h4> 
        <p><b>Takım: Alfa Romeo</b> </p>       
        <p><b>Doğum Tarihi: 30/05/1999 </b></p>       
        <p><b>Ülke: Çin</b> </p>       
        <p><b>Podyum Sayısı: 0 </b></p>       
        <p><b>Yarış Katılımı: 6 </b></p>       
        <p><b>Dünya Şampiyonluğu: 0</b></p>     
    </div>     
</div>     
    <div class="w3-third w3-container w3-margin-bottom">       
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/ocon.png" alt="Ocon" style="width:100%" class="w3-hover-opacity">      
        <div class="w3-container w3-white">         
         <h4><b>Esteban Ocon 31</b></h4>        
            <p><b>Takım: Alpine </b> </p>         
            <p><b>Doğum Tarihi: 17/09/1996 </b></p>         
            <p><b>Ülke: Fransa</b> </p>         
            <p><b>Podyum Sayısı: 2 </b></p>        
             <p><b>Yarış Katılımı: 95 </b></p>        
              <p><b>Dünya Şampiyonluğu: 0</b> </p></div>     </div>    
    <div class="w3-third w3-container">      
        <img src="/Users/umutakpolat/Desktop/f1/driverimage/alonso.png" alt="Alonso" style="width:100%" class="w3-hover-opacity">      
         <div class="w3-container w3-white">         <h4><b>Fernando ''El Plan'' Alonso 14</b></h4>         <p><b>Takım: Alpine</b> </p>         <p><b>Doğum Tarihi: 29/07/1981 </b></p>         <p><b>Ülke: İspanya</b> </p>         <p><b>Podyum Sayısı: 98 </b></p>         <p><b>Yarış Katılımı: 342 </b></p>         <p><b>Dünya Şampiyonluğu: 2</b> </p></div>
    </div>
</div>

  <!-- Sixth Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/magnus.png" alt="Magnussen" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Kevin Magnussen 20</b></h4>
        <p><b>Takım: Haas F1 Team</b> </p>
        <p><b>Doğum Tarihi: 05/10/1992 </b></p>
        <p><b>Ülke: Danimarka</b> </p>
        <p><b>Podyum Sayısı: 1 </b></p>
        <p><b>Yarış Katılımı: 126 </b></p>
        <p><b>Dünya Şampiyonluğu: 0</b> </p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/schumare.png" alt="Schumacher" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Mick Schumacher 47</b></h4>
        <p><b>Takım: Haas F1 Team</b> </p>
        <p><b>Doğum Tarihi: 22/03/1999 </b></p>
        <p><b>Ülke: Almanya</b> </p>
        <p><b>Podyum Sayısı: 0 </b></p>
        <p><b>Yarış Katılımı: 27 </b></p>
        <p><b>Dünya Şampiyonluğu: 0</b> </p></div>
    </div>
    <div class="w3-third w3-container">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/tsuno.png" alt="Tsunoda" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Yuki Tsunoda 22</b></h4>
        <p><b>Takım: AlphaTauri</b> </p>
        <p><b>Doğum Tarihi: 11/05/2000 </b></p>
        <p><b>Ülke: Japonya/b> </p>
        <p><b>Podyum Sayısı: 0 </b></p>
        <p><b>Yarış Katılımı: 28 </b></p>
        <p><b>Dünya Şampiyonluğu: 0</b> </p></div>
    </div>
  </div>
  <!-- First Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/gasli.png" alt="Gasly" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Pierre Gasly 10</b></h4>
        <p><b>Takım: AlphaTauri</b> </p>
        <p><b>Doğum Tarihi: 07/02/1996 </b></p>
        <p><b>Ülke: Fransa</b> </p>
        <p><b>Podyum Sayısı: 3 </b></p>
        <p><b>Yarış Katılımı: 92 </b></p>
        <p><b>Dünya Şampiyonluğu: 0</b> </p></div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/vettel.png" alt="Vettel" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Sebastian Vettel 5</b></h4>
        <p><b>Takım: Aston Martin</b> </p>
        <p><b>Doğum Tarihi: 03/07/1987 </b></p>
        <p><b>Ülke: Almanya</b> </p>
        <p><b>Podyum Sayısı: 122 </b></p>
        <p><b>Yarış Katılımı: 284 </b></p>
        <p><b>Dünya Şampiyonluğu: 4</b> </p></div>
    </div>
    <div class="w3-third w3-container">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/lance stroll.png" alt="Stroll" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Lance Stroll 18 </b></h4>
        <p><b>Takım: Aston Martin</b> </p>
        <p><b>Doğum Tarihi: 29/10/1998 </b></p>
        <p><b>Ülke: Kanada</b> </p>
        <p><b>Podyum Sayısı: 3 </b></p>
        <p><b>Yarış Katılımı: 106 </b></p>
        <p><b>Dünya Şampiyonluğu: 0</b> </p></div>
    </div>
  </div>
  <!-- First Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/albon.png" alt="Albon" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Alexander Albon 23</b></h4>
        <p><b>Takım: Williams</b> </p>
        <p><b>Doğum Tarihi: 23/03/1996 </b></p>
        <p><b>Ülke: Tayland</b> </p>
        <p><b>Podyum Sayısı: 2 </b></p>
        <p><b>Yarış Katılımı: 44 </b></p>
        <p><b>Dünya Şampiyonluğu: 0</b> </p></div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/Users/umutakpolat/Desktop/f1/driverimage/latifi.png" alt="Latifi" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h4><b>Nicholas Latifi 6</b></h4>
        <p><b>Takım: Williams</b> </p>
        <p><b>Doğum Tarihi: 29/06/1995 </b></p>
        <p><b>Ülke: Kanada</b> </p>
        <p><b>Podyum Sayısı: 0 </b></p>
        <p><b>Yarış Katılımı: 45 </b></p>
        <p><b>Dünya Şampiyonluğu: 0</b> </p>
    </div>
</div>