<!DOCTYPE html>
<html>
  <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
    .myLink {display: none}
    </style>
  </head>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
  <a href="index.html" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i class="fa fa-map-marker w3-margin-right"></i>F1 Predictor</b></a>
  <a href="f1information.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>F1 Nedir</b></a>
  <a href="photos.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item w3-margin-left"></i>Fotoğraf Galerisi</b></a>
  <a href="f1Datas.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>F1 Verileri</b></a>
  <a href="circuits.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>Pistler</b></a>
  <a href="drivers.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>Pilotlar</b></a> 
  <a href="constructors.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>Markalar</b></a> 
</div>
<!--Header-->
<!-- Page content -->
<div class="w3-content" style="max-width:1200px; background-color: hsl(32, 95%, 51%);">

    <!-- Good offers -->
    <div id="photo-gallery"class="w3-container w3-margin-top">
      <h3>Formula 1 Datas with Graphs</h3>
    </div>
    <div class="w3-row-padding w3-text-white w3-large">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="/Users/umutakpolat/Desktop/f1/images/GrandprixTimeline.png" alt="Number of races by year" style="height: auto;">
            <span class="w3-display-bottomleft w3-text-black">Grandprix Timeline</span>
          </div>
        </div>
        
      </div>
    <div class="w3-row-padding w3-text-white w3-large">
      <div class="w3-half w3-margin-bottom">
        <div class="w3-display-container">
          <img src="/Users/umutakpolat/Desktop/f1/images/numberOfRace.png" alt="Number of races by year" style="height: auto;">
          <span class="w3-display-bottomleft w3-text-black">Number of races by year</span>
        </div>
      </div>
      
    </div>
    <div class="w3-row-padding w3-text-white w3-large">
      <div class="w3-half w3-margin-bottom">
        <div class="w3-display-container">
          <img src="/Users/umutakpolat/Desktop/f1/images/numbersOfCircuit.png" alt="Numbers of Circuit" style="height:auto;">
          <span class="w3-display-bottomleft w3-text-black">Numbers of Circuit</span>
        </div>
      </div>

    </div>
    <div class="w3-row-padding w3-text-white w3-large">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="/Users/umutakpolat/Desktop/f1/images/driversDNFratio.png" alt="Drivers DNF Ratio" style="width: 1000px;">
            <span class="w3-display-bottomleft w3-text-black">Drivers DNF Ratio</span>
          </div>
        </div>
  
    </div>
    <div class="w3-row-padding w3-text-white w3-large">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="/Users/umutakpolat/Desktop/f1/images/TeamsDnfRatio.png" alt="Drivers DNF Ratio" style="width: 1000px;">
            <span class="w3-display-bottomleft w3-text-black">DNF Ratio because of teams</span>
          </div>
        </div>
  
    </div>
    <div class="w3-row-padding w3-text-white w3-large">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="/Users/umutakpolat/Desktop/f1/images/homeRacePoints.png" alt="Drivers DNF Ratio" style="width: 1000px;">
            <span class="w3-display-bottomleft w3-text-black" style="font-weight: bold;">Percentage of drivers earning points at home races</span>
          </div>
        </div>
  
    </div>

    <div class="w3-row-padding w3-text-white w3-large">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="/Users/umutakpolat/Desktop/f1/images/teamsHomePoints.png" alt="Drivers DNF Ratio" style="width: 1000px;">
            <span class="w3-display-bottomleft w3-text-black" style="font-weight: bold;">Percentage of constructors earning points at home races</span>
          </div>
        </div>
  
    </div>
  
    <!-- Explore Nature -->

  
    
    
  <!-- End page content -->
  </div>