<!DOCTYPE html>
<html>
  <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
    .myLink {display: none}
    </style>
  </head>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
  <a href="index.html" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i class="fa fa-map-marker w3-margin-right"></i>F1 Predictor</b></a>
  <a href="f1information.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>F1 Nedir</b></a>
  <a href="photos.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item w3-margin-left"></i>Fotoğraf Galerisi</b></a>
  <a href="f1Datas.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>F1 Verileri</b></a>
  <a href="circuits.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>Pistler</b></a>
  <a href="drivers.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>Pilotlar</b></a> 
  <a href="constructors.html" class="w3-bar-item w3-button w3-text-black w3-hover-black"><b><i class="w3-bar-item"></i>Markalar</b></a> 
</div>
<!-- Page content -->
<div class="w3-content" style="max-width:1100px;">

    <!-- Good offers -->
    <div id="photo-gallery"class="w3-container w3-margin-top">
      <h3>En İyi Fotoğraflar</h3>
    </div>
    <div class="w3-row-padding w3-text-white w3-large">
      <div class="w3-half w3-margin-bottom">
        <div class="w3-display-container">
          <img src="/Users/umutakpolat/Desktop/f1/images/Lewis_Hamilton_Bahrain_GP_AP_.jpeg" alt="Cinque Terre" style="width:100%">
          <span class="w3-display-bottomleft w3-padding">Lewis Hamilton in Bahrain Gp</span>
        </div>
      </div>
      <div class="w3-half">
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half w3-margin-bottom">
            <div class="w3-display-container">
              <img src="/Users/umutakpolat/Desktop/f1/images/FP3_BahrainGP.jpeg" alt="New York" style="width:100%">
              <span class="w3-display-bottomleft w3-padding">Alpine and Haas </span>
            </div>
          </div>
          <div class="w3-half w3-margin-bottom">
            <div class="w3-display-container">
              <img src="/Users/umutakpolat/Desktop/f1/images/redbull.jpeg" alt="San Francisco" style="width:100%">
              <span class="w3-display-bottomleft w3-padding">Max Verstappen</span>
            </div>
          </div>
        </div>
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half w3-margin-bottom">
            <div class="w3-display-container">
              <img src="/Users/umutakpolat/Desktop/f1/images/Leclerc-Monza-2021.jpeg" alt="Pisa" style="width:100%">
              <span class="w3-display-bottomleft w3-padding">Leclerc in Monza</span>
            </div>
          </div>
          <div class="w3-half w3-margin-bottom">
            <div class="w3-display-container">
              <img src="/Users/umutakpolat/Desktop/f1/images/images.jpeg" alt="Paris" style="width:100%">
              <span class="w3-display-bottomleft w3-padding">Daniel Ricciardo</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-row-padding w3-text-white w3-large">
      <div class="w3-half w3-margin-bottom">
        <div class="w3-display-container">
          <img src="/Users/umutakpolat/Desktop/f1/images/resim1.jpeg" alt="Cinque Terre" style="width:100%">
          <span class="w3-display-bottomleft w3-padding">Lewis Hamilton İstanbul Parkta</span>
        </div>
      </div>
      <div class="w3-half">
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half w3-margin-bottom">
            <div class="w3-display-container">
              <img src="/Users/umutakpolat/Desktop/f1/images/hmBra.jpeg" alt="New York" style="width:100%">
              <span class="w3-display-bottomleft w3-padding">Sir Lewis Hamilton Zaferini Kutluyor. </span>
            </div>
          </div>
          <div class="w3-half w3-margin-bottom">
            <div class="w3-display-container">
              <img src="/Users/umutakpolat/Desktop/f1/images/duvaragirenlatifi.jpeg" alt="San Francisco" style="width:100%">
              <span class="w3-display-bottomleft w3-padding">Duvara Giren Latifi</span>
            </div>
          </div>
        </div>
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half w3-margin-bottom">
            <div class="w3-display-container">
              <img src="/Users/umutakpolat/Desktop/f1/images/2015.jpeg" alt="Pisa" style="width:100%">
              <span class="w3-display-bottomleft w3-padding">2015ten anı</span>
            </div>
          </div>
          <div class="w3-half w3-margin-bottom">
            <div class="w3-display-container">
              <img src="/Users/umutakpolat/Desktop/f1/images/vetto.jpeg" alt="Paris" style="width:100%">
              <span class="w3-display-bottomleft w3-padding">Vettel Aracına Teşekkür Ediyor.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="w3-row-padding w3-text-white w3-large">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="/Users/umutakpolat/Desktop/f1/images/1.jpeg" alt="Cinque Terre" style="width:100%">
            <span class="w3-display-bottomleft w3-padding"></span>
          </div>
        </div>
        <div class="w3-half">
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half w3-margin-bottom">
              <div class="w3-display-container">
                <img src="/Users/umutakpolat/Desktop/f1/images/2.jpeg" alt="New York" style="width:100%">
                <span class="w3-display-bottomleft w3-padding"></span>
              </div>
            </div>
            <div class="w3-half w3-margin-bottom">
              <div class="w3-display-container">
                <img src="/Users/umutakpolat/Desktop/f1/images/3.jpeg" alt="San Francisco" style="width:100%">
                <span class="w3-display-bottomleft w3-padding"></span>
              </div>
            </div>
          </div>
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half w3-margin-bottom">
              <div class="w3-display-container">
                <img src="/Users/umutakpolat/Desktop/f1/images/4.jpeg" alt="Pisa" style="width:100%">
                <span class="w3-display-bottomleft w3-padding"></span>
              </div>
            </div>
            <div class="w3-half w3-margin-bottom">
              <div class="w3-display-container">
                <img src="/Users/umutakpolat/Desktop/f1/images/5.jpeg" alt="Paris" style="width:100%">
                <span class="w3-display-bottomleft w3-padding"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    <!-- Explore Nature -->      
  
    
    
  <!-- End page content -->
  </div>